{% extends "base.html" %}

{% block "content" %}

<div class="pagewrap">

{% if validlink %}

<p>Vennligst skriv inn det nye passordet ditt to ganger, så vi kan bekrefte at du har skrevet det riktig.</p>

<form action="" method="post">{% csrf_token %}
	{{ form.new_password1.errors }}
	<p class="aligned wide"><label for="id_new_password1">Nytt passord:</label>{{ form.new_password1 }}</p>
	{{ form.new_password2.errors }}
	<p class="aligned wide"><label for="id_new_password2">Bekreft passord:</label>{{ form.new_password2 }}</p>
	<p><input class="btn btn-primary" type="submit" value="Change my password" /></p>
</form>

{% else %}

<p>
	Passord-tilbakestillingslenken din er ugyldig. Dette er sannsynligvis fordi den allerede har blitt brukt. Besøk "Glemt Passord"-siden på nytt for å få en ny epost med en gyldig lenke.
</p>

<p>
	<a href="{% url 'index' %}">Tilbake til innlogging</a>
</p>

{% endif %}

</div>

{% endblock %}

