Django==1.5.1
South==0.8.2
argparse==1.2.1
dj-database-url==0.2.1
dj-static==0.0.5
django-cors-headers==0.11
django-extensions==1.1.1
django-filter==0.6
django-toolbelt==0.0.1
djangorestframework==2.3.6
gunicorn==0.17.4
icalendar==3.5
psycopg2==2.5.1
pystache==0.5.4
python-dateutil==2.1
pytz==2013b
requests==2.0.1
six==1.7.2
static==1.0.2
wsgiref==0.1.2
