<div class="pagewrap" ng-init="init()">
  <alert ng-repeat="alert in alerts" type="alert.type" ng-click="closeAlert($index)" close="closeAlert($index)">{{alert.msg}} <strong>{{alert.comment}}</strong></alert>
  <div>
    <div>
      <h1>{{ event.title }}</h1>
      <hr>
    </div>

    <div>

      <div class="well">
        <h3>Kommer du?</h3>
        <div class="btn-group" data-toggle="buttons-radio">
          <button class="btn" id="yes" ng-click="onAnswer(1)">Ja</button>
          <button class="btn" id="no"  ng-click="onAnswer(2) ">Nei</button>
        </div>
        <div>
          <form id="reason-form">
            <label for="reason">Kommentar</label>
            <input type="text" id="reason" ng-model="newComment"/>
            <div>
              <button class="btn btn-primary" ng-click="updateComment()">Oppdater Kommentar</button>
            </div>
          </form>
        </div>
      </div>

      <div>
      <div class="well">
        <h3>Informasjon</h3>
        <hr>
        <p><i class="glyphicon-users"></i> {{ event.team.name }}</p>
        <p><i class="glyphicon-calendar"></i>
          <a ng-show="isIos" ng-click="createCalendarEvent()"> {{ event.date }}</a>
          <span ng-hide="isIos"> {{ event.date }}</span>
        </p>
        <p>
          <div ng-show="event.lastSignupDate.length">
            <i class="glyphicon-exclamation-sign"></i> <strong>Påmeldingsfrist: {{ event.lastSignupDate }}, {{event.lastSignupTime}}</strong>
          </div>
          <div>
            <i class="glyphicon-time"></i> Oppmøte: {{ event.meetupTime }}
          </div>
          <div>
            <i class="glyphicon-time"></i> Start: {{ event.startTime }}
          </div>
          <div>
            <i class="glyphicon-time"></i> Slutt: {{ event.endTime }}
          </div>
        </p>
        <p><i class="glyphicon-map-marker"></i><a href="{{ event.locationUrl }}"> {{ event.location }}</a></p>
        <p><i class="glyphicon-flag" ng-show="event.opponent"></i> {{ event.opponent }}</p>
        <div class="event-comment" ng-show="event.info">
          <hr>
          <h5>Mer info</h5>
          <p>{{event.info}}</p>
        </div>
      </div>
    </div>

    <div class="well" ng-show="coaches.length">
      
      <h3>Lagledere</h3>

      <table class="table table-hover">
        <tr>
          <th><i class="glyphicon-user"></th>
          <th><i class="icon-send"></th>
        </tr>
        <tr ng-repeat="coach in coaches | orderBy:predicate:direction" >
          <td>{{coach.firstName}} {{coach.lastName}}</td>
          <td>
            <span class="{{coach.labelClass}}" >{{ coach.answerText }}</span>
            <button class="send-invitation-btn btn-link" ng-click="sendSingleInvitation(coach)" ng-show="coach.showSendLink">
              <i class="icon-message-out"></i>
            </button>
          </td>
        </tr>
      </table>

    </div>

    <div class="well">
      <h3>Deltakere</h3>
      <table class="table table-striped">
        <tr>
          <th><i class="glyphicon-user"></th>
          <th><i class="icon-send"></th>
        </tr>
        <tr ng-repeat="attendee in attendees">
          <td>{{ attendee.firstName }} {{ attendee.lastName }} </td>
          <td><span ng-class="setAnswerColor($index)" ng-model="attendeModel[attendee.id]">{{ attendee.answer }}</span></td>
        </tr>
      </table>
    </div>

  </div>
</div><!-- End pagewrap -->